name: 'Vercel - Deploy application'

inputs:
  working-directory:
    description: 'The working directory'
    required: false
    default: '.'
  vercel-token:
    description: 'The Vercel token'
    required: true
  vercel-organization-id:
    description: 'The Vercel organization id'
    required: true
  vercel-project-id:
    description: 'The Vercel project id'
    required: true
  build-arguments:
    description: 'Additional build command line arguments'
    required: false
    default: ''
  deploy-arguments:
    description: 'Additional deploy command line arguments'
    required: false
    default: ''

outputs:
  url:
    description: 'The URL of the deployment'
    value: ${{ steps.deploy.outputs.url }}

runs:
  using: "composite"
  steps:
    - name: Disable telemetry
      working-directory: ${{ inputs.working-directory }}
      run: npx --yes vercel telemetry disable
      shell: bash
    - name: Set Vercel organization id as environment variable
      run: echo "VERCEL_ORG_ID=${{ inputs.vercel-organization-id }}" >> $GITHUB_ENV
      shell: bash
    - name: Set Vercel project id as environment variable
      run: echo "VERCEL_PROJECT_ID=${{ inputs.vercel-project-id }}" >> $GITHUB_ENV
      shell: bash
    - name: Build the application
      working-directory: ${{ inputs.working-directory }}
      run: npx --yes vercel build --token=${{ inputs.vercel-token }} --yes ${{ inputs.build-arguments }}
      shell: bash
    - name: Deploy the application
      id: deploy
      working-directory: ${{ inputs.working-directory }}
      run: echo "url=$(npx --yes vercel deploy --token=${{ inputs.vercel-token }} --prebuilt ${{ inputs.deploy-arguments }})" >> $GITHUB_OUTPUT
      shell: bash
